In [1]:
import pandas as pd
import os
from datetime import datetime, timedelta
dt = (datetime.today()-timedelta(days=1)).strftime('%d-%b-%y')
pd.options.mode.chained_assignment = None
pd.set_option('display.max_columns',100)

today = pd.to_datetime('31-10-2023',format=r'%d-%m-%Y')

Pool_name = r"RBL_Unsecured"

In [2]:
os.chdir(r"D:\OneDrive - Encore Asset Reconstruction Company Pvt Ltd\Desktop\Project\CRIF\RBL Bureau 5th Oct (Unsecured)")
file_name = 'Account_Bureau.csv'
inquiry_file_name = 'IOI.csv'

# df = pd.read_csv(file_name,delimiter="|",low_memory=False)
df = pd.read_csv(file_name)
df_enquiry = pd.read_csv(inquiry_file_name,delimiter="|",low_memory=False)
print('No of rows in the dataset',len(df))
df.head()

No of rows in the dataset 350077

,CREDT-RPT-ID,LOS-APP-ID,CANDIDATE - ID,CUSTOMER ID/MBR ID,BRANCH,KENDRA,SELF-INDICATOR,MATCH-TYPE,ACC-NUM,CREDIT-GRANTOR,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,LAST-PAYMENT-DATE,CREDIT-LIMIT/SANC AMT,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,INSTALLMENT-FREQUENCY,WRITE-OFF-DATE,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,ACCOUNT-REMARKS,LINKED-ACCOUNTS,REPORTED DATE - HIST,DPD - HIST,ASSET CLASS - HIST,HIGH CRD - HIST,CUR BAL - HIST,DAS - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,INCOME,INCOME INDICATOR,TENURE,OCCUPATION,Disbursed amount
0,RBL 231103CR263219418537242,809002524541,176483494,NaN,NaN,NaN,False,PRIMARY,XXXX,XXXX,Two-Wheeler Loan,PRB,30-09-2023,Individual,Active,31-05-2014,NaN,28-06-2017,NaN,37759,"1,445/Monthly",0.0,F03,NaN,0.0,0.0,NaN,NaN,N,2.023100e+279,0000000000000000000000000000000000000000000000...,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,"37759,37759,37759,37759,37759,37759,37759,3775...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",S04S04S04S04S04S04S04S04S04S04S04S04S04S04S04S...,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","52635,52635,52635,52635,52635,52635,52635,5263...",0.0,NaN,36.0,NaN,102000.0
1,RBL 231103CR263219418537242,809002524541,8200425332,NaN,NaN,NaN,False,PRIMARY,XXXX,XXXX,Personal Loan,NBF,30-09-2023,Individual,Delinquent,31-08-2019,NaN,NaN,NaN,124000,NaN,101344.0,NaN,NaN,139274.0,0.0,NaN,NaN,N,2.023100e+287,8788488177867567256956646366055745445134834524...,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,"124000,124000,124000,124000,124000,124000,1240...","101344,101344,101344,101344,101344,101344,1013...",S05S05S05S05S05S05S06S06S06S06S06S06S06S06S06S...,"139274,139274,139274,135902,130675,125448,1202...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",0.0,NaN,NaN,NaN,102000.0
2,RBL 231103CR263219418537242,809002524541,7817545302,NaN,NaN,NaN,False,PRIMARY,XXXX,XXXX,Consumer Loan,NBF,30-06-2021,Individual,Closed,31-08-2018,18-05-2021,05-08-2019,NaN,20990,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,N,2.021100e+263,0000000000000000000000000000000000000000000000...,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,"20990,20990,20990,20990,20990,20990,20990,2099...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13...",S07S04S04S04S04S04S04S04S04S04S04S04S04S04S04S...,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,,,,,,,,,,,,,,,,,,,,,",0.0,NaN,NaN,NaN,102000.0
3,RBL 231103CR263219418537242,809002524541,4762075152,NaN,NaN,NaN,True,PRIMARY,809002524541,RBL BANK LIMITED,Personal Loan,PRB,31-08-2023,Individual,Written Off,07-01-2020,NaN,30-10-2021,NaN,102000,"3,843/Monthly",109389.0,F03,NaN,87493.0,78579.0,Doubtful,Written-off,N,2.023100e+287,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,L03L03L03L03L03L03L03L03L02L02L02L02L02L02L02L...,"102000,102000,102000,102000,102000,102000,1020...","109389,107987,106631,105229,103873,102471,1012...",S06S06S06S06S06S06S06S06S05S05S05S05S05S05S05S...,"87493,83650,79807,0,72121,68278,64435,60592,56...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",0.0,NaN,NaN,NaN,102000.0
4,RBL 231103CR84489418537242,809002577745,311096095,NaN,CHURU,CHURU,False,PRIMARY,XXXX,HDFC BANK LTD,JLG Individual,PRB,31-12-2020,Primary,Closed,26-03-2019,30-12-2020,26-12-2020,0.0,25206,"1,693/Monthly",0.0,F03,NaN,0.0,0.0,NaN,NaN,N,2.020100e+175,0000000000000000040000000000000000000000000000...,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,",","0,1717,3328,4908,6455,9458,9458,10924,10924,10...",S07S04S04S04S04S05S04S04S04S04S04S04S04S04S04S...,"0,0,0,0,0,1693,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,",",",NaN,NaN,NaN,NaN,200000.0

In [3]:
df[df['LOS-APP-ID']=='809002524541']

,CREDT-RPT-ID,LOS-APP-ID,CANDIDATE - ID,CUSTOMER ID/MBR ID,BRANCH,KENDRA,SELF-INDICATOR,MATCH-TYPE,ACC-NUM,CREDIT-GRANTOR,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,LAST-PAYMENT-DATE,CREDIT-LIMIT/SANC AMT,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,INSTALLMENT-FREQUENCY,WRITE-OFF-DATE,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,ACCOUNT-REMARKS,LINKED-ACCOUNTS,REPORTED DATE - HIST,DPD - HIST,ASSET CLASS - HIST,HIGH CRD - HIST,CUR BAL - HIST,DAS - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,INCOME,INCOME INDICATOR,TENURE,OCCUPATION,Disbursed amount
0,RBL 231103CR263219418537242,809002524541,176483494,NaN,NaN,NaN,False,PRIMARY,XXXX,XXXX,Two-Wheeler Loan,PRB,30-09-2023,Individual,Active,31-05-2014,NaN,28-06-2017,NaN,37759,"1,445/Monthly",0.0,F03,NaN,0.0,0.0,NaN,NaN,N,2.023100e+279,0000000000000000000000000000000000000000000000...,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,"37759,37759,37759,37759,37759,37759,37759,3775...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",S04S04S04S04S04S04S04S04S04S04S04S04S04S04S04S...,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","52635,52635,52635,52635,52635,52635,52635,5263...",0.0,NaN,36.0,NaN,102000.0
1,RBL 231103CR263219418537242,809002524541,8200425332,NaN,NaN,NaN,False,PRIMARY,XXXX,XXXX,Personal Loan,NBF,30-09-2023,Individual,Delinquent,31-08-2019,NaN,NaN,NaN,124000,NaN,101344.0,NaN,NaN,139274.0,0.0,NaN,NaN,N,2.023100e+287,8788488177867567256956646366055745445134834524...,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,"124000,124000,124000,124000,124000,124000,1240...","101344,101344,101344,101344,101344,101344,1013...",S05S05S05S05S05S05S06S06S06S06S06S06S06S06S06S...,"139274,139274,139274,135902,130675,125448,1202...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",0.0,NaN,NaN,NaN,102000.0
2,RBL 231103CR263219418537242,809002524541,7817545302,NaN,NaN,NaN,False,PRIMARY,XXXX,XXXX,Consumer Loan,NBF,30-06-2021,Individual,Closed,31-08-2018,18-05-2021,05-08-2019,NaN,20990,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,N,2.021100e+263,0000000000000000000000000000000000000000000000...,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,"20990,20990,20990,20990,20990,20990,20990,2099...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13...",S07S04S04S04S04S04S04S04S04S04S04S04S04S04S04S...,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,,,,,,,,,,,,,,,,,,,,,",0.0,NaN,NaN,NaN,102000.0
3,RBL 231103CR263219418537242,809002524541,4762075152,NaN,NaN,NaN,True,PRIMARY,809002524541,RBL BANK LIMITED,Personal Loan,PRB,31-08-2023,Individual,Written Off,07-01-2020,NaN,30-10-2021,NaN,102000,"3,843/Monthly",109389.0,F03,NaN,87493.0,78579.0,Doubtful,Written-off,N,2.023100e+287,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,L03L03L03L03L03L03L03L03L02L02L02L02L02L02L02L...,"102000,102000,102000,102000,102000,102000,1020...","109389,107987,106631,105229,103873,102471,1012...",S06S06S06S06S06S06S06S06S05S05S05S05S05S05S05S...,"87493,83650,79807,0,72121,68278,64435,60592,56...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",0.0,NaN,NaN,NaN,102000.0

In [4]:
print('No of rows in the dataset',len(df))
print('No of unique customer in the dataset',len(df['LOS-APP-ID'].unique()))

No of rows in the dataset 350077
No of unique customer in the dataset 17416

In [5]:
# Typecasting 
df['DATE-REPORTED'] = pd.to_datetime(df['DATE-REPORTED'],format=r'%d-%m-%Y')
df['DISBURSED-DT'] = pd.to_datetime(df['DISBURSED-DT'],format=r'%d-%m-%Y')
df['CLOSE-DT'] = pd.to_datetime(df['CLOSE-DT'],format=r'%d-%m-%Y',errors = 'ignore')
df['LAST-PAYMENT-DATE'] = pd.to_datetime(df['LAST-PAYMENT-DATE'],format=r'%d-%m-%Y')

In [6]:
#Finding Customer vintage
df_customer_vintage = df[['LOS-APP-ID','DATE-REPORTED']]
df_customer_vintage = df_customer_vintage.groupby(by=['LOS-APP-ID']).agg({'DATE-REPORTED':['min']})
df_customer_vintage.reset_index(inplace = True)
df_customer_vintage[df_customer_vintage['LOS-APP-ID']==4]
df_customer_vintage['Vintage'] = df_customer_vintage.apply(lambda x : today- x['DATE-REPORTED'], axis=1)
df_customer_vintage.to_csv('Customer_vintage.csv', index=False)
df_customer_vintage.head()

         LOS-APP-ID DATE-REPORTED   Vintage
                              min
0  1000535150000097    2019-07-09 1575 days
1  1003435050000001    2016-12-31 2495 days
2  1004235150000001    2023-08-31   61 days
3  1004735020000140    2010-08-31 4809 days
4  1007535020000007    2010-12-31 4687 days

In [7]:
#Assign Loan Type

def assign_loan_type (var1):
    secured = ['Gold Loan','Business Loan - Secured','Business Loan Against Bank Deposits','GECL Loan secured','Gold Loan','Housing Loan','Loan Against Shares/Securities',
               'Loan Against Bank Deposits','Property Loan','Microfinance - Housing Loan','JLG Group','JLG Individual','Mudra Loans - Shishu / Kishor / Tarun','Pradhan Mantri Awas Yojana - CLSS','Property Loan']
    if var1 in secured:
        return 'Secured'
    else:
        return 'Unsecured'
    
df['Secured/Unsecured'] = df['ACCT-TYPE'].apply(assign_loan_type)

In [8]:
# Excluding Report date more than 3 yrs ago

df['To be included'] = df.apply(lambda x : 1 if x['DATE-REPORTED'].year > 2020 else 0 , axis=1)

In [9]:
#Account status

def current_status_func (var1):
    default = ['Sold/Purchased','WRITTEN OFF','Written Off','WILFUL DEFAULT','SUIT FILED (WILFUL DEFAULT)','Delinquent','SUIT FILED','Suit Filed']
    if var1 in default:
        return 'Default'
    elif var1 in ['CLOSED','SETTLED','Closed','Settled','Post Write Off Closed','Post Write Off Settled','Restructured  and  Closed','Cancelled','Loan Declined']:
        return 'Closed'
    elif var1 in ['ACTIVE','Active','RESTRUCTURED','Restructured']:
        return 'Active'
    else:
        print('Other values of account type detected. Add in the category above', var1)
        return var1

df['Current_Status'] = df['ACCOUNT-STATUS'].apply(current_status_func)



#Self indicator
df['Own']= df['SELF-INDICATOR'].apply(lambda x : 1 if x ==True else 0)
print('Own tradelines', df['Own'].sum())
df.head()

Own tradelines 17520

,CREDT-RPT-ID,LOS-APP-ID,CANDIDATE - ID,CUSTOMER ID/MBR ID,BRANCH,KENDRA,SELF-INDICATOR,MATCH-TYPE,ACC-NUM,CREDIT-GRANTOR,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,LAST-PAYMENT-DATE,CREDIT-LIMIT/SANC AMT,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,INSTALLMENT-FREQUENCY,WRITE-OFF-DATE,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,ACCOUNT-REMARKS,LINKED-ACCOUNTS,REPORTED DATE - HIST,DPD - HIST,ASSET CLASS - HIST,HIGH CRD - HIST,CUR BAL - HIST,DAS - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,INCOME,INCOME INDICATOR,TENURE,OCCUPATION,Disbursed amount,Secured/Unsecured,To be included,Current_Status,Own
0,RBL 231103CR263219418537242,809002524541,176483494,NaN,NaN,NaN,False,PRIMARY,XXXX,XXXX,Two-Wheeler Loan,PRB,2023-09-30,Individual,Active,2014-05-31,NaT,2017-06-28,NaN,37759,"1,445/Monthly",0.0,F03,NaN,0.0,0.0,NaN,NaN,N,2.023100e+279,0000000000000000000000000000000000000000000000...,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,"37759,37759,37759,37759,37759,37759,37759,3775...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",S04S04S04S04S04S04S04S04S04S04S04S04S04S04S04S...,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","52635,52635,52635,52635,52635,52635,52635,5263...",0.0,NaN,36.0,NaN,102000.0,Unsecured,1,Active,0
1,RBL 231103CR263219418537242,809002524541,8200425332,NaN,NaN,NaN,False,PRIMARY,XXXX,XXXX,Personal Loan,NBF,2023-09-30,Individual,Delinquent,2019-08-31,NaT,NaT,NaN,124000,NaN,101344.0,NaN,NaN,139274.0,0.0,NaN,NaN,N,2.023100e+287,8788488177867567256956646366055745445134834524...,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,"124000,124000,124000,124000,124000,124000,1240...","101344,101344,101344,101344,101344,101344,1013...",S05S05S05S05S05S05S06S06S06S06S06S06S06S06S06S...,"139274,139274,139274,135902,130675,125448,1202...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",0.0,NaN,NaN,NaN,102000.0,Unsecured,1,Default,0
2,RBL 231103CR263219418537242,809002524541,7817545302,NaN,NaN,NaN,False,PRIMARY,XXXX,XXXX,Consumer Loan,NBF,2021-06-30,Individual,Closed,2018-08-31,2021-05-18,2019-08-05,NaN,20990,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,N,2.021100e+263,0000000000000000000000000000000000000000000000...,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,"20990,20990,20990,20990,20990,20990,20990,2099...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13...",S07S04S04S04S04S04S04S04S04S04S04S04S04S04S04S...,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","0,0,0,0,0,0,0,0,0,0,0,0,0,,,,,,,,,,,,,,,,,,,,,",0.0,NaN,NaN,NaN,102000.0,Unsecured,1,Closed,0
3,RBL 231103CR263219418537242,809002524541,4762075152,NaN,NaN,NaN,True,PRIMARY,809002524541,RBL BANK LIMITED,Personal Loan,PRB,2023-08-31,Individual,Written Off,2020-01-07,NaT,2021-10-30,NaN,102000,"3,843/Monthly",109389.0,F03,NaN,87493.0,78579.0,Doubtful,Written-off,N,2.023100e+287,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,L03L03L03L03L03L03L03L03L02L02L02L02L02L02L02L...,"102000,102000,102000,102000,102000,102000,1020...","109389,107987,106631,105229,103873,102471,1012...",S06S06S06S06S06S06S06S06S05S05S05S05S05S05S05S...,"87493,83650,79807,0,72121,68278,64435,60592,56...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",0.0,NaN,NaN,NaN,102000.0,Unsecured,1,Default,1
4,RBL 231103CR84489418537242,809002577745,311096095,NaN,CHURU,CHURU,False,PRIMARY,XXXX,HDFC BANK LTD,JLG Individual,PRB,2020-12-31,Primary,Closed,2019-03-26,2020-12-30,2020-12-26,0.0,25206,"1,693/Monthly",0.0,F03,NaN,0.0,0.0,NaN,NaN,N,2.020100e+175,0000000000000000040000000000000000000000000000...,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...,",","0,1717,3328,4908,6455,9458,9458,10924,10924,10...",S07S04S04S04S04S05S04S04S04S04S04S04S04S04S04S...,"0,0,0,0,0,1693,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,",",",NaN,NaN,NaN,NaN,200000.0,Secured,0,Closed,0

In [10]:
#Extracting Disbdate of loan

df.to_csv('Base_file.csv', index = False)

In [11]:
# # Making helper columns

df['Secured_Closed_Own'] = df.apply(lambda x : 1 if ((x['Secured/Unsecured'] == 'Secured') & (x['Current_Status'] == 'Closed')& (x['Own'] == 1)&(x['To be included']==1)) else 0 , axis=1)
df['Secured_Active_Own'] = df.apply(lambda x : 1 if ((x['Secured/Unsecured'] == 'Secured') & (x['Current_Status'] == 'Active')& (x['Own'] == 1)&(x['To be included']==1)) else 0 , axis=1)
df['Secured_Default_Own'] = df.apply(lambda x : 1 if ((x['Secured/Unsecured'] == 'Secured') & (x['Current_Status'] == 'Default')& (x['Own'] == 1)&(x['To be included']==1)) else 0 , axis=1)
df['Unsecured_Closed_Own'] = df.apply(lambda x : 1 if ((x['Secured/Unsecured'] == 'Unsecured') & (x['Current_Status'] == 'Closed')& (x['Own'] == 1)&(x['To be included']==1)) else 0 , axis=1)
df['Unsecured_Active_Own'] = df.apply(lambda x : 1 if ((x['Secured/Unsecured'] == 'Unsecured') & (x['Current_Status'] == 'Active')& (x['Own'] == 1)&(x['To be included']==1)) else 0 , axis=1)
df['Unsecured_Default_Own'] = df.apply(lambda x : 1 if ((x['Secured/Unsecured'] == 'Unsecured') & (x['Current_Status'] == 'Default')& (x['Own'] == 1)&(x['To be included']==1)) else 0 , axis=1)

df['Secured_Closed_Rest'] = df.apply(lambda x : 1 if ((x['Secured/Unsecured'] == 'Secured') & (x['Current_Status'] == 'Closed')& (x['Own'] == 0)&(x['To be included']==1)) else 0 , axis=1)
df['Secured_Active_Rest'] = df.apply(lambda x : 1 if ((x['Secured/Unsecured'] == 'Secured') & (x['Current_Status'] == 'Active')& (x['Own'] == 0)&(x['To be included']==1)) else 0 , axis=1)
df['Secured_Default_Rest'] = df.apply(lambda x : 1 if ((x['Secured/Unsecured'] == 'Secured') & (x['Current_Status'] == 'Default')& (x['Own'] == 0)&(x['To be included']==1)) else 0 , axis=1)
df['Unsecured_Closed_Rest'] = df.apply(lambda x : 1 if ((x['Secured/Unsecured'] == 'Unsecured') & (x['Current_Status'] == 'Closed')& (x['Own'] == 0)&(x['To be included']==1)) else 0 , axis=1)
df['Unsecured_Active_Rest'] = df.apply(lambda x : 1 if ((x['Secured/Unsecured'] == 'Unsecured') & (x['Current_Status'] == 'Active')& (x['Own'] == 0)&(x['To be included']==1)) else 0 , axis=1)
df['Unsecured_Default_Rest'] = df.apply(lambda x : 1 if ((x['Secured/Unsecured'] == 'Unsecured') & (x['Current_Status'] == 'Default')& (x['Own'] == 0)&(x['To be included']==1)) else 0 , axis=1)
df['Ignored Tradelines'] = df.apply(lambda x : 1 if (x['To be included']==0) else 0 , axis=1)
df.head()

KeyboardInterrupt:

In [ ]:
print(sum(df[['Secured_Closed_Own','Secured_Active_Own','Secured_Default_Own','Unsecured_Closed_Own','Unsecured_Active_Own','Unsecured_Default_Own','Secured_Closed_Rest','Secured_Active_Rest','Secured_Default_Rest','Unsecured_Closed_Rest','Unsecured_Active_Rest','Unsecured_Default_Rest','Ignored Tradelines']].sum(axis=1)))

pd.DataFrame(df[['Secured_Closed_Own','Secured_Active_Own','Secured_Default_Own','Unsecured_Closed_Own','Unsecured_Active_Own','Unsecured_Default_Own','Secured_Closed_Rest','Secured_Active_Rest','Secured_Default_Rest','Unsecured_Closed_Rest','Unsecured_Active_Rest','Unsecured_Default_Rest','Ignored Tradelines']].sum())

350077

                             0
Secured_Closed_Own           0
Secured_Active_Own           0
Secured_Default_Own          1
Unsecured_Closed_Own         8
Unsecured_Active_Own        17
Unsecured_Default_Own    17403
Secured_Closed_Rest      25770
Secured_Active_Rest       6921
Secured_Default_Rest      5933
Unsecured_Closed_Rest    63485
Unsecured_Active_Rest    18434
Unsecured_Default_Rest   69570
Ignored Tradelines      142535

In [ ]:
list_col = ['Secured_Closed_Own','Secured_Active_Own','Secured_Default_Own','Unsecured_Closed_Own','Unsecured_Active_Own','Unsecured_Default_Own','Secured_Closed_Rest','Secured_Active_Rest','Secured_Default_Rest','Unsecured_Closed_Rest','Unsecured_Active_Rest','Unsecured_Default_Rest','Ignored Tradelines']
df_final = df.groupby('LOS-APP-ID')[list_col].sum()

df_final.head()
# df_final.to_csv(f'Bureau_Output_{dt}.csv'.format(dt))

,Secured_Closed_Own,Secured_Active_Own,Secured_Default_Own,Unsecured_Closed_Own,Unsecured_Active_Own,Unsecured_Default_Own,Secured_Closed_Rest,Secured_Active_Rest,Secured_Default_Rest,Unsecured_Closed_Rest,Unsecured_Active_Rest,Unsecured_Default_Rest,Ignored Tradelines
LOS-APP-ID,,,,,,,,,,,,,
1000535150000097,0,0,0,0,0,1,0,0,1,1,0,3,2
1003435050000001,0,0,0,0,0,4,0,0,0,1,1,2,7
1004235150000001,0,0,0,0,0,1,0,0,0,0,0,0,0
1004735020000140,0,0,0,0,0,1,0,0,0,0,1,1,4
1007535020000007,0,0,0,0,0,1,1,1,0,2,2,1,39

In [ ]:
#Dropping where only tradeline is ignore tradeline
df_final['Used tradelines']= df_final['Secured_Closed_Own']+df_final['Secured_Active_Own']+df_final['Secured_Default_Own']+df_final['Unsecured_Closed_Own']+df_final['Unsecured_Active_Own']+df_final['Unsecured_Default_Own']+df_final['Secured_Closed_Rest']+df_final['Secured_Active_Rest']+df_final['Secured_Default_Rest']+df_final['Unsecured_Closed_Rest']+df_final['Unsecured_Active_Rest']+df_final['Unsecured_Default_Rest'] 
df_final2 = df_final[df_final ['Used tradelines']>0]

In [ ]:
# Assigning default category

def cetegory(df):
    if df['Secured_Active_Rest']+df['Secured_Default_Rest']+df['Unsecured_Active_Rest']+df['Unsecured_Default_Rest']==0:
        return 'Only Seller'
    elif df['Secured_Active_Rest']+df['Secured_Default_Rest']==0:
        return 'Only Unsecured'
    elif df['Unsecured_Active_Rest']+df['Unsecured_Default_Rest']==0:
        return 'Only Secured'
    else:
        return 'Both'

df_final2['Category'] = df_final2.apply(cetegory, axis=1)

# Calculating percentage of Other secured default

def other_secured_default(df):
    if df['Secured_Active_Rest']+df['Secured_Default_Rest'] ==0:
        return 0
    else:
        val = df['Secured_Default_Rest']/(df['Secured_Active_Rest']+df['Secured_Default_Rest'])
        return val

df_final2['Other secured Default'] = df_final2.apply(other_secured_default, axis=1)


# Calculating percentage of Other unsecured default

def other_unsecured_default(df):
    if df['Unsecured_Active_Rest']+df['Unsecured_Default_Rest'] ==0:
        return 0
    else:
        val = df['Unsecured_Default_Rest']/(df['Unsecured_Active_Rest']+df['Unsecured_Default_Rest'])
        return val

df_final2['Other unsecured Default'] = df_final2.apply(other_unsecured_default, axis=1)



# Calculating percentage of Other secured default percentage

def other_secured_default_percentage(df):
    
    if df['Secured_Active_Rest']+df['Secured_Default_Rest'] ==0:
        return ""
    
    elif (df['Secured_Default_Rest']/(df['Secured_Active_Rest']+df['Secured_Default_Rest']))==0:        
        return 'No default'
    
    elif (df['Secured_Default_Rest']/(df['Secured_Active_Rest']+df['Secured_Default_Rest']))<=0.5:        
        return 'Default less than 50%'
    else:
        return 'Default more than 50%'


df_final2['Other secured Default_bin'] = df_final2.apply(other_secured_default_percentage, axis=1)


# Calculating percentage of Other unsecured default percentage

def other_unsecured_default_percentage(df):
    
    if df['Unsecured_Active_Rest']+df['Unsecured_Default_Rest'] ==0:
        return ""
    elif (df['Unsecured_Default_Rest']/(df['Unsecured_Active_Rest']+df['Unsecured_Default_Rest']))==0:        
        return 'No default'
    elif (df['Unsecured_Default_Rest']/(df['Unsecured_Active_Rest']+df['Unsecured_Default_Rest']))<=0.5:        
        return 'Default less than 50%'
    else:
        return 'Default more than 50%' 

df_final2['Other unsecured Default_bin'] = df_final2.apply(other_unsecured_default_percentage, axis=1)

# Final Bucket

def final_tagging(df):
    if df['Category']=='Only Seller':
        return 'Only Seller'
    elif df['Category']=='Only Unsecured':
        return 'Only Unsecured_'+str(df['Other unsecured Default_bin'])
    elif df['Category']=='Only Secured':
        return 'Only Unsecured_'+str(df['Other secured Default_bin'])
    else:
        return "Secured_"+str(df['Other secured Default_bin'])+"_Unsecured_"+str(df['Other unsecured Default_bin'])




df_final2['Final tag'] = df_final2.apply(final_tagging, axis=1)
df_final2.head(2)

,Secured_Closed_Own,Secured_Active_Own,Secured_Default_Own,Unsecured_Closed_Own,Unsecured_Active_Own,Unsecured_Default_Own,Secured_Closed_Rest,Secured_Active_Rest,Secured_Default_Rest,Unsecured_Closed_Rest,Unsecured_Active_Rest,Unsecured_Default_Rest,Ignored Tradelines,Used tradelines,Category,Other secured Default,Other unsecured Default,Other secured Default_bin,Other unsecured Default_bin,Final tag
LOS-APP-ID,,,,,,,,,,,,,,,,,,,,
1000535150000097,0,0,0,0,0,1,0,0,1,1,0,3,2,6,Both,1.0,1.000000,Default more than 50%,Default more than 50%,Secured_Default more than 50%_Unsecured_Defaul...
1003435050000001,0,0,0,0,0,4,0,0,0,1,1,2,7,8,Only Unsecured,0.0,0.666667,,Default more than 50%,Only Unsecured_Default more than 50%

In [ ]:
# Output File
df_final2.to_csv(f'{Pool_name}_Bureau_Output_{dt}.csv'.format(Pool_name,dt))

In [ ]:
total_accounts = df_final2['Final tag'].value_counts().sum()

print('Number of account',total_accounts)
# print('Ignored tradelines',df_final[df_final['Ignored Tradelines']==1]['CANDIDATE - ID'].count())
# print('Total tradelines',df_final2['Final tag'].value_counts().sum()+ df_final['Ignored Tradelines'].sum())

df_output = pd.DataFrame(df_final2['Final tag'].value_counts())
# df_output

Number of account 17414

In [ ]:
# Re-ordering the output
df_output = df_output.reindex(['Only Seller','Only Secured_No default','Only Secured_Default less than 50%','Only Secured_Default more than 50%','Only Unsecured_No default','Only Unsecured_Default less than 50%','Only Unsecured_Default more than 50%','Secured_No default_Unsecured_No default','Secured_No default_Unsecured_Default less than 50%','Secured_No default_Unsecured_Default more than 50%','Secured_Default less than 50%_Unsecured_No default','Secured_Default less than 50%_Unsecured_Default less than 50%','Secured_Default less than 50%_Unsecured_Default more than 50%','Secured_Default more than 50%_Unsecured_No default','Secured_Default more than 50%_Unsecured_Default less than 50%','Secured_Default more than 50%_Unsecured_Default more than 50%'],fill_value = 0)
df_output

                                                    Final tag
Only Seller                                              1482
Only Secured_No default                                     0
Only Secured_Default less than 50%                          0
Only Secured_Default more than 50%                          0
Only Unsecured_No default                                 755
Only Unsecured_Default less than 50%                     1302
Only Unsecured_Default more than 50%                     8251
Secured_No default_Unsecured_No default                   200
Secured_No default_Unsecured_Default less than 50%        474
Secured_No default_Unsecured_Default more than 50%       1675
Secured_Default less than 50%_Unsecured_No default         39
Secured_Default less than 50%_Unsecured_Default...        135
Secured_Default less than 50%_Unsecured_Default...        572
Secured_Default more than 50%_Unsecured_No default         84
Secured_Default more than 50%_Unsecured_Default...        315
Secured_Default more than 50%_Unsecured_Default...       2130

In [ ]:
# Atlest_One_Secured= df_output.loc['Only Secured_No default']+ df_output.loc['Only Secured_Default less than 50%']+ df_output.loc['Only Secured_Default more than 50%']+df_output.loc['Secured_Default less than 50%_Unsecured_No default']+ df_output.loc['Secured_Default less than 50%_Unsecured_Default less than 50%']+ df_output.loc['Secured_Default less than 50%_Unsecured_Default more than 50%']+ df_output.loc['Secured_Default more than 50%_Unsecured_No default']+ df_output.loc['Secured_Default more than 50%_Unsecured_Default less than 50%']+ df_output.loc['Secured_Default more than 50%_Unsecured_Default more than 50%']

# No_default_in_secured = df_output.loc['Only Secured_No default']+df_output.loc['Secured_No default_Unsecured_No default']+df_output.loc['Secured_No default_Unsecured_Default less than 50%']+df_output.loc['Secured_No default_Unsecured_Default more than 50%']

# Less_than_50perc_secured = df_output.loc['Only Secured_Default less than 50%']+df_output.loc['Secured_Default less than 50%_Unsecured_No default']+df_output.loc['Secured_Default less than 50%_Unsecured_Default less than 50%']+df_output.loc['Secured_Default less than 50%_Unsecured_Default more than 50%'] 

# More_than_50perc_secured = df_output.loc['Only Secured_Default more than 50%']+df_output.loc['Secured_Default more than 50%_Unsecured_Default more than 50%']+df_output.loc['Secured_Default more than 50%_Unsecured_Default less than 50%']+df_output.loc['Secured_Default more than 50%_Unsecured_No default']

# print('Total accounts', len(df['LOS-APP-ID'].unique()))
# print('Total accounts with tradeline after 2020',total_accounts)
# print('Atlest One Secured',Atlest_One_Secured.sum(),(Atlest_One_Secured.sum()/total_accounts)*100,"%")
# print('No default Secured',No_default_in_secured.sum(),(No_default_in_secured.sum()/total_accounts)*100,"%")
# print('Less than 50% Secured',Less_than_50perc_secured.sum(),(Less_than_50perc_secured.sum()/total_accounts)*100,"%")
# print('More than 50% Secured',More_than_50perc_secured.sum(),(Less_than_50perc_secured.sum()/total_accounts)*100,"%")

In [ ]:
#Enquiry data addition

df_enquiry.head()
df_enquiry['Loan type']

,CREDT-RPT-ID,LOS-APP-ID,CUSTOMER ID/MBR ID,CREDIT-GRANTOR,INQUIRY-DATE,OWNERSHIP-TYPE,PURPOSE,AMOUNT,REMARKS,Unnamed: 9
0,RBL 231103CR41179418537242,809002104644,NaN,XXXX,05-01-2022,PRIMARY,Credit Card,0,NaN,NaN
1,RBL 231103CR41179418537242,809002104644,NaN,XXXX,18-05-2022,PRIMARY,OTHER,"2,50,000",NaN,NaN
2,RBL 231103CR58089418537242,809002273975,NaN,XXXX,20-10-2022,PRIMARY,OTHER,"50,000",NaN,NaN
3,RBL 231103CR58089418537242,809002273975,NaN,XXXX,17-10-2022,PRIMARY,OTHER,"5,00,000",NaN,NaN
4,RBL 231103CR52099418537242,809000454158,NaN,XXXX,14-09-2023,PRIMARY,OTHER,"2,00,000",NaN,NaN