In [3]:
import openpyxl as op
import os
import pandas as pd
import numpy  as np
import datetime
import locale

# Select File path
# Test comment - Select File path

os.chdir(r'D:\OneDrive - Encore Asset Reconstruction Company Pvt Ltd\Desktop\Portfolios\2023\Unsecured - SBI (May Writtenoff)\Seller\SBICards_ProjectELSA_20230526')
abc = pd.read_excel('1.10 3.Written_Off_Accounts_Addendum_3.xlsx')
abc.replace('NaN', 0, inplace= True)
abc.replace('', 0, inplace= True)
abc.head()

,Account_Identifier,2021-01-31 00:00:00,2021-02-28 00:00:00,2021-03-31 00:00:00,2021-04-30 00:00:00,2021-05-31 00:00:00,2021-06-30 00:00:00,2021-07-31 00:00:00,2021-08-31 00:00:00,2021-09-30 00:00:00,...,2022-07-31 00:00:00,2022-08-31 00:00:00,2022-09-30 00:00:00,2022-10-31 00:00:00,2022-11-30 00:00:00,2022-12-31 00:00:00,2023-01-31 00:00:00,2023-02-28 00:00:00,2023-03-31 00:00:00,2023-04-30 00:00:00
0,E_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,E_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,E_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E_4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,E_5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# Subsetting data
 
# abc= abc[['account_number', '2020-06', '2020-07', '2020-08',
#        '2020-09', '2020-10', '2020-11', '2020-12', '2021-01', '2021-02',
#        '2021-03', '2021-04', '2021-05', '2021-06', '2021-07', '2021-08',
#        '2021-09', '2021-10', '2021-11', '2021-12', '2022-01', '2022-02',
#        '2022-03', '2022-04', '2022-05', '2022-06', '2022-07', '2022-08',
#        '2022-09', '2022-10', '2022-11', '2022-12', '2023-01']]

## Melting of dataframe
df = abc.melt(id_vars=['Account_Identifier'],var_name="Payment_month", 
        value_name="Amount")

df['Payment_month'] = pd.to_datetime(df['Payment_month'] , format= "%Y-%m-%d")
print("Count of rows", len(df))
print("Sum of ammount",df['Amount'].sum())
# print(df.head())

## Selecting positive amounts 
df_f = df[(df['Amount']>0)]
print("Count of rows after selecting positve amount", len(df_f))
print("Sum of ammount",df_f['Amount'].sum())
print(df_f.head())

df_f.to_csv('Payment_Output.csv')

# #Creating base file
# base = df_f.groupby(by = df['Payment_month'] , sort=True , as_index=True).agg({'Amount':'sum'})
# base['%'] = round((base['Amount']/base['Amount'].sum() )*100,2)

# # Change POS for ROR calculation
# base['ROR'] = round((base['Amount']/2560000000)*100,2)
# # base.cumsum(axis=1)
# base.reset_index(inplace=True)


# # Filtered data
# # filt = '2022-01-01'
# # base = base[['Payment_month','Amount']]
# # base2 = base[base['Payment_month']>= filt]
# # print("Total",base2['Amount'].sum() ,"Percentage" ,round((base2['Amount'].sum()/  base['Amount'].sum())*100,2),"%", "Lines",len(df_f[df_f['Payment_month']>=filt]))
# # base2


# locale.setlocale(locale.LC_ALL, '')
# base_check = base
# base_check['Amount'] = base_check['Amount'].apply(lambda x : int(x))
# base_check['Amount'] = base_check['Amount'].apply(lambda x: locale.currency(x , grouping= True))
# print(base_check)

# # Graph Creation 

# import matplotlib.pyplot as plt
# import matplotlib.dates as mdates

# # locator = mdates.DayLocator(bymonthday=[1, 15])
# formatter = mdates.DateFormatter('%y-%m')
# fig, ax = plt.subplots(figsize=(7, 3), tight_layout=True)
# # ax.xaxis.set_major_locator(locator)
# ax.xaxis.set_major_formatter(formatter)

# ax.plot(base['Payment_month'],base['ROR'])
# ax.tick_params(axis='x', rotation=70)

# plt.xlabel('Payment_Month')
# plt.ylabel('ROR')
# plt.title('Lifetime ROR')

# for index in range(len(base['Payment_month'])):
#   ax.text(base['Payment_month'][index], base['ROR'][index], base['ROR'][index], size=5,ha='center' )

# plt.grid()
# plt.show()

Count of rows 4378640
Sum of ammount 56859078.35999999
Count of rows after selecting positve amount 22
Sum of ammount -522835.32
       Account_Identifier Payment_month   Amount
235767            E_79388    2021-02-28 -20000.0
258409           E_102030    2021-02-28 -28068.0
355231            E_42472    2021-03-31 -14370.0
420257           E_107498    2021-03-31  -2920.0
433709           E_120950    2021-03-31  -7339.0